@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-pointer{
    cursor: pointer;
    color: blue;
}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}